.finish-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  background-color: rgba(201, 160, 153, 0);
  border: none; }
  .finish-modal:focus {
    outline: 0; }
  .finish-modal .text-box {
    font-weight: 550;
    color: white;
    letter-spacing: 2px;
    border: 3px white solid;
    padding: 10px 26px;
    font-size: 20px;
    background-color: rgba(201, 160, 153, 0); }
    .finish-modal .text-box:hover {
      color: black;
      background-color: white; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(201, 160, 153, 0.7); }

#close-icon {
  color: white;
  float: right;
  -webkit-transform: translateY(9px);
  -ms-transform: translateY(9px);
  transform: translateY(9px); }
  #close-icon:hover {
    cursor: pointer; }

@media (min-width: 50px) and (max-width: 550px) {
  .finish-modal .text-box {
    font-size: 10px; } }
